<!DOCTYPE html>
<br lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<h1>
</h1> ABOUT: </h1>
</br>
</br>

 </h3>
    Lets count Words and I like to count them in ecery sentence i write because that is my hobby.
    Simple Website Builder provides a lot of customization options in order to make your website look as uniquely as possible. Easily change texts, colors, replace images and videos, set your own backgrounds and much more."
     </h3>
</br>
</br>
<a href="{% url 'home' %}">Home</a>

</body>
</html>